---
type: fixed
date: 2026-10-06
---

Fixed returning to shared clips after email verification
